# TODO: replace location and upstream address if necessary
{{- range ( list
    "/api/v1/iam/users"
    "/api/v1/iam/invite/users"
    "~ /api/v1/iam/users/.*"
    "/api/v1/iam/roles"
    "~ /api/v1/iam/roles/.*"
    "/api/v1/iam/clients"
    "~ /api/v1/iam/clients/.*"
    "~ /internal/api/v1/iam/.*"
) }}
location {{ . }} {
      resolver kube-dns.kube-system.svc.cluster.local;
      proxy_set_header Host $http_host;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
      set $upstream http://dsp-iam-mgmt-svc.{{$.Release.Namespace}}.svc.cluster.local:80;
      proxy_pass $upstream;
      proxy_http_version 1.1;
      proxy_ssl_verify off;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
      include /etc/nginx/ip-sources/ip-allowlist.txt;
}
{{- end }}

{{- range ( list
    "/rest/v1/iam/users"
    "/rest/v1/iam/invite/users"
    "~ /rest/v1/iam/users/.*"
    "/rest/v1/iam/roles"
    "~ /rest/v1/iam/roles/.*"
) }}
location {{ . }} {
      resolver kube-dns.kube-system.svc.cluster.local;
      proxy_set_header Host $http_host;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
      set $upstream http://dsp-iam-mgmt-svc.{{$.Release.Namespace}}.svc.cluster.local:80;
      rewrite ^/rest/(.*)$ /api/$1 break;
      proxy_pass $upstream;
      proxy_http_version 1.1;
      proxy_ssl_verify off;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
      include /etc/nginx/ip-sources/ip-allowlist.txt;
}
{{- end }}
