# TODO: replace location and upstream address if necessary
{{- range ( list
    "/api/v2/iam/users"
    "/api/v3/iam/users"
    "/api/v2/iam/roles"
    "~ /api/v2/iam/roles/.*"
    "/api/v3/iam/roles"
    "~ /api/v3/iam/roles/.*"
    "/api/v2/iam/clients"
    "~ /api/v2/iam/clients/.*"
) }}
location {{ . }} {
      resolver kube-dns.kube-system.svc.cluster.local;
      proxy_set_header Host $http_host;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
      set $upstream http://dsp-iam-svc.{{$.Release.Namespace}}.svc.cluster.local:80;
      proxy_pass $upstream;
      proxy_http_version 1.1;
      proxy_ssl_verify off;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
      include /etc/nginx/ip-sources/ip-allowlist.txt;
}
{{- end }}
