{{- range ( list
  "/api/v2/endpoints"
  "/api/v2/clusters"
  "/api/v2/ha"
  "/api/v2/resources"
  "/api/v2/vms"
  "/api/v2/containers"
  "/api/v2/device-model-images"
  "/api/v1/endpoints/devicetypes"
  "/api/v2/device-models"
  "/api/v3/endpoints"
  "/api/v2/proxies"
) }}
location {{ . }} {
      resolver kube-dns.kube-system.svc.cluster.local;
      proxy_set_header Host $http_host;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      set $upstream http://hzp-inventory-svc.{{$.Release.Namespace}}.svc.cluster.local:80;
      proxy_pass $upstream;
      proxy_http_version 1.1;
      proxy_ssl_verify off;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
}
{{- end }}
