{{- range ( list
  "/api/v2/ese-settings"
  "/api/v2/ese-config-status"
  "/api/v2/ese-status"
) }}
location {{ . }} {
      resolver kube-dns.kube-system.svc.cluster.local;
      proxy_set_header Host $http_host;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      set $upstream http://hzp-product-svc.{{$.Release.Namespace}}.svc.cluster.local:80;
      proxy_pass $upstream;
      proxy_http_version 1.1;
      proxy_ssl_verify off;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
}
{{- end }}
