{{- $s3Url := ternary (tpl .Values.global.s3.url .) (printf "https://s3.%s.amazonaws.com" .Values.global.s3.region) (ne .Values.global.s3.url "") }}
{{- $s3HostPort := index (urlParse $s3Url) "host" }}
{{- $s3Host := (split ":" $s3HostPort)._0 }}
{{- $s3Port := (split ":" $s3HostPort)._1 | default "" }}
location /repository {
    resolver kube-dns.kube-system.svc.cluster.local;
    proxy_set_header Host {{ $s3Host }};
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    set $upstream http://{{ $s3Host }}:{{ $s3Port }};
    proxy_pass $upstream;
    proxy_http_version 1.1;
    proxy_ssl_verify off;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
}